@tailwind base;
@tailwind components;
@tailwind utilities;


/* Add these custom font feature settings in your globals.css or tailwind.css file */
/* @layer utilities {
    .font-dlig {
      font-feature-settings: "dlig" 1;
    }
    
    .font-ss07 {
      font-feature-settings: "ss07" 1;
    }
    
    .font-ss03 {
      font-feature-settings: "ss03" 1;
    }
    
    .font-cv01 {
      font-feature-settings: "cv01" 1;
    }
  
    .font-cv03 {
      font-feature-settings: "cv03" 1;
    }
    
    .font-cv04 {
      font-feature-settings: "cv04" 1;
    }
    
    .font-cv05 {
      font-feature-settings: "cv05" 1;
    }
    
    .font-cv08 {
      font-feature-settings: "cv08" 1;
    }
    
    .font-cv09 {
      font-feature-settings: "cv09" 1;
    }
    
    .font-cv11 {
      font-feature-settings: "cv11" 1;
    }
    
    .font-cv12 {
      font-feature-settings: "cv12" 1;
    }
    
    .font-cv13 {
      font-feature-settings: "cv13" 1;
    }
  
    .font-zero {
      font-feature-settings: "zero" 1;
    }
  } */
  